
.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}


hr {
  margin-top: 1rem; 
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.container-box {
  width: 100%;
  margin: auto; 
  background-color: transparent;
  position: relative;
  z-index: 9;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .container-box {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container-box {
    width: 100%;
    margin: 20px auto;
  }
}

@media (min-width: 992px) {
  .container-box {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container-box {
    width: 100%;
  }
}
